body{
  text-align: center;
  background-color: #FF9912;
  /*background-image: url('../images/orangewallpaper.jpg');*/
}

/****************************
HOME PAGE
****************************/

#background-theater {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-theater img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.the-title {
  height: 90px;
  width: 380px;
  background-color: #CF5300; opacity: 0.75; filter: alpha(opacity=50);
  /*position: absolute;*/
  margin: 0 auto;
  display: inline-block;
  margin-top: 5%;
  /*padding-bottom: 15px;*/
  color: white;
  border: solid white;
}

.signing-in {
  height: 35%;
  width: 35%;
  background-color: #FFFFFF; opacity: 0.75; filter: alpha(opacity=50);
  /*position: absolute;*/
  margin: 0 auto;
  display: inline-block;
  margin-top: 5%;
  padding-bottom: 15px;
}

/****************************
MENU PAGE
****************************/

#menu-theater {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#menu-theater img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

holder-div {
  /*height: 400px;*/
  width: 50%;
  background-color: #FFFFFF; opacity: 0.75; filter: alpha(opacity=50);
  /*position: absolute;*/
  margin: 0 auto;
  display: inline-block;
  /*margin-top: 15%;*/
  padding-bottom: 15px;
}

.inside {
  width: ;
}

.lefty {
  float: left;
}

.box {
  height: 100px;
  width: 100px;
/*  margin: 5px;*/
  padding: 20px;
  background-color: black; opacity: 0.75; filter: alpha(opacity=50);
  color: white;
}

.box a {
  color: white;
}

/*******************
HEADER
*******************/

#banner-photo {
  margin-top: 17px;
  background-image: url('../images/theater_cropped.jpg');
  height: 208px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #DC4C18;
  background-color: black;
}

#banner-photo div {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  width: 96px;
  height: 96px;
  background-color: white;
  border-radius: 48px;
  padding: 4px;
  margin-top: 155px;
}

#banner-photo div p {
  text-align: center;
  width: 88px;
  height: 88px;
  background-color: #FFC957;
  line-height: 88px;
  border-radius: 44px;
  font-size: 18px;
  color: white;
  font-family: 'bebas_neueregular';
}

.view-body {
  /*padding-top: 30px;*/
  background-color: #ED9121;
  height: 900px;
}

.data-holder {
  background-color: white;
  width: 70%;
  height: 800px;
  display: inline-block;
  background-color: white;
  padding-top: 0px;
}

.data-holder h1 {
  padding-top: 45px;
  padding-bottom: 30px;
}

.table-header {
  font-weight: bold;
}
