<div class='view-body'>
  <div class='data-holder' ng-show='showListData'>
  <h1>Fave Artists List</h1>
  
    <table class='table artist-table'>
      <thead class='table-header'>
            <td>Name</td>
            <td>Artist Type</td>
            <td>Delete</td>
            <td>Edit</td>
      </thead>
      <tbody>
        <tr ng-repeat='artist in artistlisting track by $index'>
            <td>{{artist.name}}</td>
            <td>{{artist.artist_type}}</td>
            <td><button type='button' class="btn btn-success" ng-click="deleteAnArtist(keys[$index])"><span class="glyphicon glyphicon-trash"></span></button></td>
            <td><button type='button' class="btn btn-success" ng-click="showEditFieldsBtn(artist)"><span class="glyphicon glyphicon-pencil"></span></button></td>
        </tr>
      </tobdy>
    </table>
  </div>

  <div class='data-holder-m' ng-show='showEditFields'>
    <h1>Edit Artist Data</h1>
      <form role='form' novalidate='novalidate' ng-submit='submitThis(artist)' name='editForm'>
        <div class='form-group'>
          <label class="">Title</label> <br>
          <input id="name" type='text' ng-model='artist.name' ng-change="artistlisting.$save(artist)" name="name" value='artist.name' />
        </div>
        <div>
          <label class="">Artist Type</label> <br>
          <input id="artist_type" type='text' ng-model='artist.artist_type' ng-change="artistlisting.$save(artist)" name="artist_type"/>
        </div>

        <button type='submit'class='btn btn-warning'>Submit</button>
      </form>
  </div>

</div>