<div class='view-body'>
  <div class='data-holder-sm'>
  <h1 class='view-title'>Notifications</h1>
    <form role='form' class='style-form' novalidate='novalidate' ng-submit='sendNotif()' name='notifForm'>
      <div class='form-group make-orange'>
        <label class="">Phone Number</label> <br>
      </div>
      <div>
        <input id="phoneNumber" class='form-control' type='text' ng-model='phoneNumber' name="phoneNumber"/>
      </div>
      <div class='form-group make-orange'>
        <label class="">Your Message</label> <br>
      </div>
      <div>
        <input id="messageContent" class='form-control' type='text' ng-model='messageContent' name="messageContent"/>
      </div><br>

      <button type='submit'class='btn btn-success'>Submit</button>
    </form>
  </div>
</div>