<h1>{{message}}</h1>
<h4><a href='/#/movieenter'>Enter a new movie</a></h4>
<div>
  <ul>
    <li><a href='/#/tosee'>To See Icon</a></li>
    <li><a href='/#/haveseen'>Have Seen Icon</li>
    <li><a href='/#/faveperformers'>Fave Performer Icon</li>
    <li><a href='/#/thetweets'>The Tweets Icon</li>
    <li><a href='/#/localshow'>Local Showings Icon</li>
    <li><a href='/#/friendnotif'>Friend Notification</li>
  </ul>
</div>
<div>
  <button ng-click="logout()" class="btn btn-warning">UserOut</button>
</div>