<div id='menu-theater'>
<img src='../images/theater_cropped.jpg'>
</div>

<h1>{{message}}</h1>
<h4><a href='/#/movieenter'>Enter a new movie</a></h4>
<div class='row holder-div'>
  <div class='inside'>
    <div class='row'>
        <div class="col-xs-4 box"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><a href='/#/tosee'><br>To See </a></div>
        <div class="col-xs-4"><span class="" aria-hidden="true"></span><a href=><br> </a></div>
        <div class="col-xs-4 box"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href='/#/haveseen'><br>Have Seen </div>
    </div>
    <divclass='row'>
      <div class="col-xs-4 box"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href='/#/faveperformers'><br>Fave Artists </div>
      <div class="col-xs-4"><span class="" aria-hidden="true"></span><a href=><br> </a></div>
      <div class="col-xs-4 box"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><a href='/#/thetweets'><br>Newsfeed </div>
    </div>
    <divclass='row'>
      <div class="col-xs-4 box"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><a href='/#/localshow'><br>Local Showings </div>
      <div class="col-xs-4"><span class="" aria-hidden="true"></span><a href=><br> </a></div>
      <div class="col-xs-4 box"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><a href='/#/friendnotif'><br>Friend Notification</div>
    </div>
</div>

  <button ng-click="logout()" class="btn btn-warning">UserOut</button>
