<h1>Movie Enter Page</h1>
<div>
  <form role='form' novalidate='novalidate' ng-submit='addMovieData()' name='movieForm'>
    <div class='form-group'>
      <label class="">Title</label> <br>
      <input id="title" type='text' ng-model='title' name="title"/>
    </div>
    <div>
      <label class="">Director</label> <br>
      <input id="director" type='text' ng-model='director' name="director"/>
    </div>
    <div>
      <label class="">Theater</label> <br>
      <input id="theater" type='text' ng-model='theater' name="theater"/>
    </div>
    <div>
      <label class="">Fellow Moviegoers</label> <br>
      <input id="moviegoers" type='text' ng-model='moviegoers' name="moviegoers"/>
    </div>
    <div>
      <label>
        <input type="radio" ng-model='seenstatus' name="seenstatus" id="haveseen" ng-value='true'>
          Have Seen
      </label>
      <label>
        <input type="radio" ng-model='seenstatus' name="seenstatus" id="tosee" ng-value='false'>
          To See
      </label> <br>
    </div>


    <button type='submit'class='btn btn-warning'>Submit</button>
  </form>
</div>
