<h1>Movie Enter Page</h1>
<div>
  <form role='form' novalidate='novalidate' name='movieForm'>
    <div class='form-group'>
      <label class="">Title</label> <br>
      <input id="title" type='text' ng-model='newMovieData.title' name="title"/>
    </div>
    <div>
      <label class="">Director</label> <br>
      <input id="director" type='text' ng-model='newMovieData.director' name="director"/>
    </div>
    <div>
      <label class="">Theater</label> <br>
      <input id="theater" type='text' ng-model='newMovieData.theater' name="theater"/>
    </div>
    <div>
      <label class="">Fellow Moviegoers</label> <br>
      <input id="moviegoers" type='text' ng-model='newMovieData.moviegoers' name="moviegoers"/>
    </div>
    <div>
      <label class="">To See</label> <br>
      <input id="tosee" type='checkbox' ng-model='newMovieData.tosee' name="tosee"/>
    </div>
    <div>
      <label class="">Have Seen</label> <br>
      <input id="haveseen" type='checkbox' ng-model='newMovieData.haveseen' name="haveseen"/>
    </div>
    <button ng-click='addMovieData()' class='btn btn-warning'>Submit</button>
  </form>
</div>
