<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <div class="pannel pannel-default">
      <div class="pannel-body">
        <h3>Add a Todo</h3>
        <form role="form" novalidate="novalidate" name="userForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" ng-model="newTodo.title" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" name="description" ng-model="newTodo.description" required="required" ng-minlength="3" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <input id="priority" type="number" name="priority" ng-model="newTodo.priority" required="required" ng-minlength="1" class="form-control"/>
          </div>
          <button ng-show="userForm.$valid" ng-click="addTodo()" class="btn btn-danger">Add Todo</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-4"></div>
</div>
<h1>TODO LIST:</h1>
<div class="row" ng-repeat='todo in todos'>
  <div class="col-xs-3">{{todo.title}}</div>
  <div class="col-xs-3">{{todo.description}}</div>
  <div class="col-xs-3">{{todo.priority}}</div>
  <div class="col-xs-3">
    <button ng-click="deleteTodo()">Update</button>
    <button ng-click="deleteTodo()">Delete</button>
  </div>
</div>




